<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>文件服务器 :关于此模版</title>
<link rel="stylesheet" type="text/css" href="/template/css/style.css" />
</head>
<body>
<img src="/template/images/cellpic3.gif" style="visibility: hidden;" width="0" height="0" alt="" /> <!-- Used to pre-load this image -->
<div id="highslide-container"></div>
<a name="top"></a> 

<table width="80%" cellspacing="0" cellpadding="10" border="0" align="center"> 
<tr> 
<td class="bodyline">
<table width="100%" background="/template/images/top2.jpg" bgcolor="#7A9ADE" cellspacing="0" cellpadding="0" border="0" align="center" height="78" nowrap="nowrap">
	<tr> 
		<td width="95" align="left" height="78"><img src="/template/images/top.jpg" alt="top" /></td>
		<td width="100%" align="center" height="78"><span class=MessageHeader>关于模版</span></td>
		<td width="95" align="right" height="78"><img src="/template/images/top1.jpg" alt="top1" /></td>
	</tr>
</table>
<br />

<table class="forumline" width="100%" cellspacing="1" cellpadding="4" border="0">
	<tr> 
		<td class="catLeft" colspan="5" height="28">
			<span class="cattitle">
				文件服务器 :: 在此输入服务器信息
				<span id="messageTitle"></span>
			</span>
		</td>
	</tr>
	<tr> 
		<td height="23" class="nav1" align="center">
			<span class="nav_top"> 
				<a href="/">首页</a> &#8226; 
				<a href="">刷新</a> &#8226; 
				<a href="http://bbs.78820.com" target="_blank">论坛</a> &#8226; 
				<a href="">当前用户: []</a> &#8226;
				<a href="">登陆</a> 
				&#8226; <a href="/template/about.html">关于</a> 
				&#8226; <a href="http://bbs.78820.com/viewthread.php?tid=8252&extra=page%3D1" target="_blank">帮助</a>
			</span>
		</td>
	</tr>
	<tr>
		<td class="row4">
			<table width="100%" cellspacing="0" cellpadding="1" border="0">
				<tr>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td width="50">&nbsp;</td>

					<td valign="top" width="100%">
<div class="MessageHeader" style="font-size: 24px;"><i>About HFS Terayon v1.2.1</i></div><br />
<span class="MessageText">
<fieldset style="width:30%; float:right; font-size:20px">
<b>汉化by Garphy<br />
<a href="http://bbs.78820.com" target="_blank">北风论坛</a><br />2007-07-14</b></fieldset>
<br />This template is specially designed for <a href="http://www.rejetto.com/hfs/" target="_blank"><b>"Http File Server v2.1d"</b></a>, made by Rejetto.<br />
<br />You can download the latest release of this template from <a href="http://s559149c2.adsl.wanadoo.nl/HFS%20Terayon%20Template/"><b>"this section"</b></a> of my personal File Server</span><br /><br />
<div class="MessageHeader">
<i>Credits</i></div>
<br />

<div class="MessageText">

This template has been brought to you by
<a href="http://www.rejetto.com/forum/index.php?action=profile;u=2365" target="_blank">
    "Giant Eagle".
</a>
<br /><br />
With the help of
<a href="http://www.rejetto.com/forum/index.php?action=profile;u=2138" target="_blank">
    "That Stevens Guy"
</a>
and
<a href="http://www.rejetto.com/forum/index.php?action=profile;u=2170" target="_blank">
    "Flynsarmy".
</a>
<br /><br />
And the creation of
<a href="http://www.systemcorp.net/" target="_blank">
    "Lithosphere".
</a>
<br />
<br /><br /><div class="MessageHeader"><i>Version</i></div><br />
<b>Update</b><br />
This is version 1.2.1 of the HFS Terayon Template. If you want to check for an available update, <a href="Check for Updates - client.html?redir"><i><b>click here</b></i></a>.<br />
<br /><br />
<table border="0">
</td></tr><tr><td class="MessageText" colspan="2"><b>V1.2.1 Changes</b>
</td></tr><tr><td class="MessageText" colspan="2">==========================================================================
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">Fixed the 3.01 error you get while using the browsable folder tree in Internet Explorer.
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">A link showed %item-dl-count%, it now shows <i>Link</i>
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2"><b>V1.2.0 Changes</b>
</td></tr><tr><td class="MessageText" colspan="2">==========================================================================
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Browsable folder tree has been added.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Quicklink and Extra's tab has been added.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">File information is now stored in one data cell
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">The 'About' page with credits and other stuff.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">'Check for Updates' page has been added. With this, you can check if your version is still up to date.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">By clicking on the 'Zoom' icon you can preview an image.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">By clicking on the 'Flash' icon next to an .mp3 file, a tiny Flash Player will show up and play the file.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">2 New icons have been added: .SWF and .FLV
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">By clicking on the 'Media' icon next to an .wmv file, you can play and stream it directly with Windows Media Player.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Sort on filename, date, size and hits has been added.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Added a "Back to previous page.." button in the error and upload results pages.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">The upload result page has a new look.
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">MP3 player 3.1 updated to Flash Media Player 3.2
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">Template folder reorganized.
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">Title only shows the current folder name (Requires build #081).
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">All the icons and other images are reduced in size by 60 - 80%
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">Improved the code of the HFS Terayon template alot.
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">Changed 'Root' to 'Home' in the link bar.
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">Changed 'The Root' to 'Index of the FileServer' as the message above the %folder-comment%.
</td></tr><tr><td class="MessageText">[upd]</td><td class="MessageText">Changed the character set to UTF-8.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">Removed a lot of bugs from the template code. Too much to write down, IF i can remember them all.
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">Most of the Internet Explorer bugs are fixed now. This template should be compatible with IE now.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2"><b>V1.1 Changes</b>
</td></tr><tr><td class="MessageText" colspan="2">==========================================================================
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Forum link now opens in a new window.
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Images are part of the File link now (Requested by That_Stevens_Guy)
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Default page message changed to %folder-comment%, so you dont have to insert a Diff Template if you only want to change the message. Just simply add a Comment for a Folder.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">Server Stats and Status column header fixed.
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">FileServer Error page title fixed.
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">FileServer Error page wasnt showing the Host URL and the second top image on the top of the page.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2"><b>V1.0b Changes</b>
</td></tr><tr><td class="MessageText" colspan="2">==========================================================================
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">Folders weren't showing the "Recently Added" Tag.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2"><b>V1.0a changes</b>
</td></tr><tr><td class="MessageText" colspan="2">==========================================================================
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[fix]</td><td class="MessageText">I disabled the upload button, so that no one could upload on my test server, but the button was still disabled on the released version. This is Fixed.
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText" colspan="2"><b>V1.0</b>
</td></tr><tr><td class="MessageText" colspan="2">==========================================================================
</td></tr><tr><td class="MessageText" colspan="2">&nbsp;
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">When you are logged in, the Server Stats and Status are displayed at the bottom of the page
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">If you have upload rights in a folder, the Upload table will automatically show up below the Files table
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">"Currently browsing:" doesnt show '/' when you are browsing the root, but shows "The Root" instead
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">When a file is downloaded more then 24 times, it shows a blue message below the file name
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Very detailed Icons for various file extensions
</td></tr><tr><td class="MessageText">[new]</td><td class="MessageText">Automatically generated playlists for a Flash Player
</td></tr><tr><td class="MessageText" width="100">[new]</td><td class="MessageText">Music folder has a Flash Player on the top of the page
</table>

</div>
<br />
                    </td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
	  	<td class="v2" colspan="5" height="15">&nbsp;</td>
	</tr>
</table>


<br clear="all" /><br />
	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="forumline" align="center">
		<tr>
			<td align="right" class="copyright" height="28">
				Powered by <a href="http://www.rejetto.com/hfs/" target="_blank">Http File Server 2.1d</a> &copy; 2002, 2006 Rejetto
				<br />
				Terayon Theme v2B.02 <a href="http://www.phpbb.com/" target="_blank">(phpBB theme)</a> created by <a href="http://www.systemcorp.net/" target="_blank">lithosphere</a>, Converted by <a href="http://www.rejetto.com/forum/index.php?topic=4071.0" target="_blank">Giant Eagle v1.2.1</a>&nbsp;
			</td>
		</tr>
	</table>
</td>
</tr>
</table>
</body>
</html>